@import url(https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 700;
  text-align: center;
  line-height: 125%;
  text-transform: uppercase;
  position: relative;
}

.title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 0.1875rem;
  background-color: #000;
}

.header {
  min-height: 6.25rem;
  background-color: #4e4e4e;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9375rem 2.1875rem;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
}

.menu__link {
  line-height: 125%;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #4e4e4e;
  color: #fff;
}

.footer__columns {
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.footer__payment {
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
}

.footer__payment-title::after {
  background-color: #fff;
}

.footer__payment-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 37.5rem;
  margin: 0 auto;
}

.footer__license {
  border-bottom: 0.0625rem solid rgba(255, 255, 255, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.footer__license-text {
  line-height: 125%;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
  line-height: 125%;
}

.footer__copyright-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.3125rem;
}

.footer__copyright-item {
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.footer__copyright-item:not(:last-child) {
  border-right: 0.0625rem solid rgb(255, 255, 255);
}

.spollers__title {
  position: relative;
  list-style: none;
  font-size: 1.125rem;
  line-height: 125%;
  text-transform: uppercase;
  font-weight: 700;
}

.spollers__title::marker,
.spollers__title::-webkit-details-marker {
  display: none;
}

._spoller-init .spollers__title {
  padding-right: 3.125rem;
  cursor: pointer;
}

._spoller-init .spollers__title::before,
._spoller-init .spollers__title::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #fff;
  height: 2px;
  width: 15px;
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._spoller-init .spollers__title::before {
  -webkit-transform: translate(-75%, -50%) rotate(40deg);
      -ms-transform: translate(-75%, -50%) rotate(40deg);
          transform: translate(-75%, -50%) rotate(40deg);
}

._spoller-init .spollers__title::after {
  -webkit-transform: translate(0, -50%) rotate(-40deg);
      -ms-transform: translate(0, -50%) rotate(-40deg);
          transform: translate(0, -50%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
      -ms-transform: translateX(-75%) rotate(-40deg);
          transform: translateX(-75%) rotate(-40deg);
}

._spoller-init .spollers__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
      -ms-transform: rotate(40deg);
          transform: rotate(40deg);
}

.top__body {
  position: relative;
}

.top__slide-ibg {
  aspect-ratio: 1920/500;
}

.top__button-prev,
.top__button-next {
  position: absolute;
  top: 50%;
  z-index: 5;
}

.top__button-prev svg,
.top__button-next svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.top__button-prev {
  left: 0;
  -webkit-transform: rotate(-180deg) translateY(50%);
      -ms-transform: rotate(-180deg) translateY(50%);
          transform: rotate(-180deg) translateY(50%);
}

.top__button-next {
  right: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.top__dots {
  position: absolute;
  bottom: 1.875rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.top__dots .swiper-pagination-bullet {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}

.top__dots .swiper-pagination-bullet-active {
  background-color: #fff;
}

.content__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content__image-ibg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 28.3333333333%;
          flex: 0 0 28.3333333333%;
  aspect-ratio: 340/340;
  border: 0.125rem solid #000;
  border-radius: 0.3125rem;
  overflow: hidden;
}

.content__text {
  line-height: 125%;
}

.content__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.content__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}

.item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-content__image-ibg {
  display: block;
  aspect-ratio: 380/212;
  overflow: hidden;
}

.item-content__image-ibg img {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.item-content__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  border: 0.125rem solid #000;
  border-top: none;
  border-radius: 0 0 0.3125rem 0.3125rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-content__title {
  font-weight: 700;
  line-height: 125%;
  text-transform: uppercase;
  border-bottom: 0.125rem dashed #000;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.item-content__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 125%;
}

.item-content__button {
  line-height: 125%;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  background-color: #4e4e4e;
  border-radius: 0.625rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  margin: 0 auto;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 76.875em) {
  .title {
    font-size: 2.5rem;
  }

  .title {
    padding-bottom: 1.875rem;
  }

  .title::after {
    width: 6.25rem;
  }

  .header {
    -webkit-column-gap: 5.9375rem;
       -moz-column-gap: 5.9375rem;
            column-gap: 5.9375rem;
  }

  .menu__list {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .footer__columns {
    padding-top: 3.125rem;
  }

  .footer__columns {
    padding-bottom: 3.125rem;
  }

  .footer__payment {
    padding-top: 3.125rem;
  }

  .footer__payment {
    padding-bottom: 3.125rem;
  }

  .footer__payment-title {
    margin-bottom: 3.125rem;
  }

  .footer__payment-list {
    gap: 1.875rem;
  }

  .footer__license {
    padding-top: 3.125rem;
  }

  .footer__license {
    padding-bottom: 3.125rem;
  }

  .footer__copyright {
    padding-top: 1.875rem;
  }

  .footer__copyright {
    padding-bottom: 1.875rem;
  }

  .spollers__body {
    margin-top: 1.5625rem;
  }

  .spollers__body li:not(:last-child) {
    margin-bottom: 0.9375rem;
  }

  .content {
    padding-top: 5rem;
  }

  .content {
    padding-bottom: 5rem;
  }

  .content__title {
    margin-bottom: 3.4375rem;
  }

  .content__body {
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }

  .content__body {
    margin-bottom: 8.125rem;
  }

  .content__text {
    font-size: 1.25rem;
  }

  .content__items {
    gap: 1.875rem;
  }

  .item-content__body {
    padding-top: 2.5rem;
  }

  .item-content__body {
    padding-bottom: 1.875rem;
  }

  .item-content__body {
    padding-left: 1.875rem;
  }

  .item-content__body {
    padding-right: 1.875rem;
  }

  .item-content__title {
    font-size: 1.875rem;
  }

  .item-content__title {
    padding-bottom: 1.25rem;
  }

  .item-content__title {
    margin-bottom: 1.875rem;
  }

  .item-content__text {
    margin-bottom: 1.875rem;
  }

  .item-content__button {
    padding: 1.25rem;
  }

  .item-content__button {
    font-size: 1.25rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 1.75rem;
  }

  .title {
    padding-bottom: 0.9375rem;
  }

  .title::after {
    width: 3.125rem;
  }

  .header {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .footer__columns {
    padding-top: 1.5625rem;
  }

  .footer__columns {
    padding-bottom: 1.5625rem;
  }

  .footer__payment {
    padding-top: 1.5625rem;
  }

  .footer__payment {
    padding-bottom: 0.9375rem;
  }

  .footer__payment-title {
    margin-bottom: 1.5625rem;
  }

  .footer__payment-list {
    gap: 0.9375rem;
  }

  .footer__license {
    padding-top: 1.5625rem;
  }

  .footer__license {
    padding-bottom: 1.5625rem;
  }

  .footer__copyright {
    padding-top: 0.9375rem;
  }

  .footer__copyright {
    padding-bottom: 0.9375rem;
  }

  .spollers__body {
    margin-top: 0.9375rem;
  }

  .spollers__body li:not(:last-child) {
    margin-bottom: 0.625rem;
  }

  .content {
    padding-top: 2.5rem;
  }

  .content {
    padding-bottom: 2.5rem;
  }

  .content__title {
    margin-bottom: 1.25rem;
  }

  .content__body {
    -webkit-column-gap: 0.0000000625rem;
       -moz-column-gap: 0.0000000625rem;
            column-gap: 0.0000000625rem;
  }

  .content__body {
    margin-bottom: 2.5rem;
  }

  .content__text {
    font-size: 1rem;
  }

  .content__items {
    gap: 0.9375rem;
  }

  .item-content__body {
    padding-top: 1.25rem;
  }

  .item-content__body {
    padding-bottom: 1.25rem;
  }

  .item-content__body {
    padding-left: 0.9375rem;
  }

  .item-content__body {
    padding-right: 0.9375rem;
  }

  .item-content__title {
    font-size: 1.25rem;
  }

  .item-content__title {
    padding-bottom: 0.9375rem;
  }

  .item-content__title {
    margin-bottom: 0.9375rem;
  }

  .item-content__text {
    margin-bottom: 0.9375rem;
  }

  .item-content__button {
    padding: 0.9375rem;
  }

  .item-content__button {
    font-size: 1rem;
  }
}

@media (max-width: 76.875em) {
  .header {
    padding: 0.9375rem 0.9375rem;
  }
}

@media (max-width: 47.99875em) {
  .header {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 4.375rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #4e4e4e;
    padding: 5.625rem 0.9375rem 1.875rem;
    z-index: 4;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    top: 0;
    right: -100%;
    background-color: #4e4e4e;
    z-index: 3;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 1.5625rem;
    font-size: 1.5625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__license {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__license-text {
    text-align: center;
  }

  .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .top__dots .swiper-pagination-bullet {
    width: 0.625rem;
    height: 0.625rem;
  }

  .top__dots {
    bottom: 0.9375rem;
  }

  .content__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.25rem;
  }

  .content__image-ibg {
    max-width: 21.25rem;
    width: 100%;
    margin: 0 auto;
  }

  .content__items {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 29.99875em) {
  .top__button-prev,
  .top__button-next {
    display: none;
  }

  .top__dots {
    bottom: 0.625rem;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (font-size: clamp( 1.75rem , 1.4862637363rem  +  1.3186813187vw , 2.5rem )) {
    .title {
      font-size: clamp( 1.75rem , 1.4862637363rem  +  1.3186813187vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.75rem , 1.4862637363rem  +  1.3186813187vw , 2.5rem )) {
    .title {
      font-size: calc(1.75rem + 0.75 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .title {
      padding-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .title {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (width: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .title::after {
      width: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (width: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .title::after {
      width: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.8207417582rem  +  8.7912087912vw , 5.9375rem )) or (column-gap: clamp( 0.9375rem , -0.8207417582rem  +  8.7912087912vw , 5.9375rem ))) {
    .header {
      -webkit-column-gap: clamp( 0.9375rem , -0.8207417582rem  +  8.7912087912vw , 5.9375rem );
         -moz-column-gap: clamp( 0.9375rem , -0.8207417582rem  +  8.7912087912vw , 5.9375rem );
              column-gap: clamp( 0.9375rem , -0.8207417582rem  +  8.7912087912vw , 5.9375rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.8207417582rem  +  8.7912087912vw , 5.9375rem )) or (column-gap: clamp( 0.9375rem , -0.8207417582rem  +  8.7912087912vw , 5.9375rem ))) {
    .header {
      -webkit-column-gap: calc(0.9375rem + 5 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(0.9375rem + 5 * (100vw - 20rem) / 56.875);
              column-gap: calc(0.9375rem + 5 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -0.051510989rem  +  4.9450549451vw , 3.75rem )) or (column-gap: clamp( 0.9375rem , -0.051510989rem  +  4.9450549451vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 0.9375rem , -0.051510989rem  +  4.9450549451vw , 3.75rem );
         -moz-column-gap: clamp( 0.9375rem , -0.051510989rem  +  4.9450549451vw , 3.75rem );
              column-gap: clamp( 0.9375rem , -0.051510989rem  +  4.9450549451vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -0.051510989rem  +  4.9450549451vw , 3.75rem )) or (column-gap: clamp( 0.9375rem , -0.051510989rem  +  4.9450549451vw , 3.75rem ))) {
    .menu__list {
      -webkit-column-gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 56.875);
              column-gap: calc(0.9375rem + 2.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .footer__columns {
      padding-top: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .footer__columns {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .footer__columns {
      padding-bottom: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .footer__columns {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .footer__payment {
      padding-top: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .footer__payment {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.1682692308rem  +  3.8461538462vw , 3.125rem )) {
    .footer__payment {
      padding-bottom: clamp( 0.9375rem , 0.1682692308rem  +  3.8461538462vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.1682692308rem  +  3.8461538462vw , 3.125rem )) {
    .footer__payment {
      padding-bottom: calc(0.9375rem + 2.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .footer__payment-title {
      margin-bottom: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .footer__payment-title {
      margin-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .footer__payment-list {
      gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .footer__payment-list {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .footer__license {
      padding-top: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .footer__license {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .footer__license {
      padding-bottom: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0130494505rem  +  2.7472527473vw , 3.125rem )) {
    .footer__license {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .footer__copyright {
      padding-top: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
    }
}

@supports not (padding-top: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .footer__copyright {
      padding-top: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .footer__copyright {
      padding-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .footer__copyright {
      padding-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-top: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .spollers__body {
      margin-top: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
    }
}

@supports not (margin-top: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .spollers__body {
      margin-top: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem )) {
    .spollers__body li:not(:last-child) {
      margin-bottom: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem )) {
    .spollers__body li:not(:last-child) {
      margin-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem )) {
    .content {
      padding-top: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem )) {
    .content {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem )) {
    .content {
      padding-bottom: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.6208791209rem  +  4.3956043956vw , 5rem )) {
    .content {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 0.4807692308rem  +  3.8461538462vw , 3.4375rem )) {
    .content__title {
      margin-bottom: clamp( 1.25rem , 0.4807692308rem  +  3.8461538462vw , 3.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.4807692308rem  +  3.8461538462vw , 3.4375rem )) {
    .content__title {
      margin-bottom: calc(1.25rem + 2.1875 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 0.0000000625rem , -1.7582416738rem  +  8.7912086813vw , 5rem )) or (column-gap: clamp( 0.0000000625rem , -1.7582416738rem  +  8.7912086813vw , 5rem ))) {
    .content__body {
      -webkit-column-gap: clamp( 0.0000000625rem , -1.7582416738rem  +  8.7912086813vw , 5rem );
         -moz-column-gap: clamp( 0.0000000625rem , -1.7582416738rem  +  8.7912086813vw , 5rem );
              column-gap: clamp( 0.0000000625rem , -1.7582416738rem  +  8.7912086813vw , 5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.0000000625rem , -1.7582416738rem  +  8.7912086813vw , 5rem )) or (column-gap: clamp( 0.0000000625rem , -1.7582416738rem  +  8.7912086813vw , 5rem ))) {
    .content__body {
      -webkit-column-gap: calc(0.0000000625rem + 4.9999999375 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(0.0000000625rem + 4.9999999375 * (100vw - 20rem) / 56.875);
              column-gap: calc(0.0000000625rem + 4.9999999375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 0.521978022rem  +  9.8901098901vw , 8.125rem )) {
    .content__body {
      margin-bottom: clamp( 2.5rem , 0.521978022rem  +  9.8901098901vw , 8.125rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 0.521978022rem  +  9.8901098901vw , 8.125rem )) {
    .content__body {
      margin-bottom: calc(2.5rem + 5.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1rem , 0.9120879121rem  +  0.4395604396vw , 1.25rem )) {
    .content__text {
      font-size: clamp( 1rem , 0.9120879121rem  +  0.4395604396vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9120879121rem  +  0.4395604396vw , 1.25rem )) {
    .content__text {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .content__items {
      gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .content__items {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .item-content__body {
      padding-top: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not (padding-top: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) {
    .item-content__body {
      padding-top: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .item-content__body {
      padding-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .item-content__body {
      padding-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-left: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .item-content__body {
      padding-left: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
    }
}

@supports not (padding-left: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .item-content__body {
      padding-left: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-right: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .item-content__body {
      padding-right: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
    }
}

@supports not (padding-right: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .item-content__body {
      padding-right: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .item-content__title {
      font-size: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .item-content__title {
      font-size: calc(1.25rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-bottom: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem )) {
    .item-content__title {
      padding-bottom: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem );
    }
}

@supports not (padding-bottom: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem )) {
    .item-content__title {
      padding-bottom: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .item-content__title {
      margin-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .item-content__title {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .item-content__text {
      margin-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.6078296703rem  +  1.6483516484vw , 1.875rem )) {
    .item-content__text {
      margin-bottom: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem )) {
    .item-content__button {
      padding: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem );
    }
}

@supports not (padding: clamp( 0.9375rem , 0.8276098901rem  +  0.5494505495vw , 1.25rem )) {
    .item-content__button {
      padding: calc(0.9375rem + 0.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 1rem , 0.9120879121rem  +  0.4395604396vw , 1.25rem )) {
    .item-content__button {
      font-size: clamp( 1rem , 0.9120879121rem  +  0.4395604396vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.9120879121rem  +  0.4395604396vw , 1.25rem )) {
    .item-content__button {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 56.875);
    }
}
}

@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .top__button-prev:hover svg,
  .top__button-next:hover svg {
    fill: #4e4e4e;
  }

  .item-content__image-ibg:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }

  .item-content__title:hover {
    color: #4e4e4e;
  }

  .item-content__button:hover {
    background-color: #302f2f;
  }
}